.landingPage{
    background-image: url(/src/Images/info1.jpg);
    /* filter:opacity(0.3); */
    background-repeat: no-repeat;
    height: 375px;
    width: 100vw;
}

.navigation{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.landing-page-texts{
    font-weight: bolder;
    font-size: x-large;
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    background-color: red;
    color: white;
    align-self: center;
    align-items: center;
    padding: 10px 8px;
    border: solid transparent;
    border-radius: 21px;
}